<html>
    <head>
    </head>
    <body>
        <h1>
            <%= title %>
        </h1>
        <ul>
            <% list.forEach(el => { %>
                <li><%= el %></li>
            <% }) %>
        </ul>
    </body>
</html>
